<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div class="container">
        <h1>Shipping Rate</h1>
        <a href="/">Enter a NEW Rate</a>
        <hr>
    </div>
    <div class="container">
        <h2>When shipping <span style="font-weight:bold" style="font-size:larger"><%= MailType %></span> with a parcel weight of <span style="font-weight:bold" style="font-size:larger"><%= Weight %>oz</span>, has a price of: <span style="font-weight:bold" style="font-size:larger"><%= Result %></span></h2>
    </div>

</body>
</html>